@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1px 1rem;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header_logo img {
  width: 80px;
  height: 80px;
}
.header_logo p {
  font-size: 1.2rem;
  font-weight: 500;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation > a {
  color: #4c5c66;
  font-size: 1.1rem;
}
.navigation > a:hover {
  color: #1eff09;
}
.navigation > a.nav_a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: #008000;
  color: white;
}
.navigation > a.nav_a:hover {
  background: #77be77;
}
.body .container_showcase {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.body .container_showcase .title {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #000000;
}
.body .container_showcase .title span {
  color: #195d20;
}
.body .container_showcase .slogan {
  color: rgb(65, 182, 108);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.mark-bottom {
  display: block;
  margin-top: 10px;
}
.body .container_showcase .paragraph {
  font-weight: 400;
  color: #f7f7f7;
}
.body .container_logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.body .container_logo img {
  width: 350px;
  height: 350px;
}
.body > a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: teal;
  color: white;
}
.body > a:hover {
  background: rgb(57, 158, 158);
}

.animate-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}

.animate-up.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Define the initial state of the image */
.image-homepage img {
  transform: scale(0.5);
  transition: transform 4s ease-out;
}

/* Define the animation when the image is in view */
.image-homepage.animate img {
  transform: scale(1);
  transition: transform 1s ease-out;
}

.image-homepage.animate {
  animation: zoom-in 1s forwards;
}
.grid-homepage p {
  transform: translateX(100%);
  transition: transform 1s ease-out;
}

.grid-homepage.animate p {
  transform: translateX(0%);
  transition: transform 1s ease-out;
}
.call-homepage {
  transform: scale(0.5) translateY(100%);
  transform-origin: center;
  transition: transform 2s ease-out;
}

.call-homepage.animate {
  transform: scale(1) translateX(0%);
  transform-origin: center;
  transition: transform 1s ease-out;
}

@keyframes zoom-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.container_showcase {
  background-color: #f5f5f5;
}
.section-title {
  position: relative;
  height: 5px;
  width: 20%;
  background-color: #008000;
  overflow: hidden;
}

.section-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 10%;
  height: 100%;
  background-color: #f3f7f3;
  animation: loading 4s linear infinite;
}

@keyframes loading {
  0% {
    right: -0%;
  }
  50% {
    right: 100%;
  }
}

.section-title {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.line {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  animation: line 2s ease-in-out infinite;
}
@keyframes line {
  0% {
    left: -50%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 50%;
  }
}

.container-items {
  width: 1310px; /* set maximum width of container */
  margin: 0 auto; /* center container using margin */
  text-align: left; /* align text to the left */
  padding: 20px; /* add padding to container */
}

@media only screen and (max-width: 600px) {
  .container-items {
    width: 100%; /* set maximum width to 100% on smaller screens */
    padding: 0 20px; /* reduce padding on smaller screens */
  }
}
