.verify{
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
    background: #064635;    
    gap: .5rem;
}
.verify a{
    color: rgb(0, 0, 0);
    background: #ffc221;
    padding: .3rem 1.7rem;  
    border-radius: 5px;
}

.verify a:hover {
    background: #044c80;
    color: rgb(255, 255, 255);

    /* add any other styles for the hover effect here */
}
