@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@200;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
form .field_radio_group {
  display: flex;
  gap: 1rem;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background: rgb(253, 255, 254);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.2rem;
  z-index: 100;
}

.header .box {
  display: flex;
  gap: 3rem;
}
.header_logo {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
}
.header span {
  width: 2px;
  background: rgb(160, 160, 160);
  margin-left: 17px;
}

.header_logo img {
  width: 50px;
  height: 50px;
}
.header_logo p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation > a i {
  margin-right: 0.3rem;
}

.navigation > a {
  position: relative;
  color: #0e8136;
  font-size: 1.1rem;
}

.navigation > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0e8136;
  visibility: hidden;
  transform: scaleY(1);
  transition: all 0.3s ease-in-out 0s;
}

.navigation > a:hover::before {
  visibility: visible;
  width: 100%;
  transform: scaleY(1);
}

.navigation > a.nav_a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: teal;
  color: white;
}
.navigation > a.nav_a:hover {
  background: rgb(57, 158, 158);
}
.navigation > button {
  color: white;
  background: none;
  font-size: 1.2rem;
}
.navigation > button:hover {
  color: rgb(222, 9, 9);
}

.fa-user:before {
  content: "\f007";
  color: #0e8136;
  font-size: 30px;
}
form .password label {
  min-width: 150px;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #000000;
}
form .password input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border: 1px rgb(204, 204, 204) solid;
}
form .password input:focus,
textarea:focus,
select:focus {
  border-color: rgb(45, 174, 110);
}
form .password textarea {
  resize: none;
  height: 100px;
}

.body {
  flex: 1;
  position: relative;
  display: flex;
  background: #f4f5ff;
}
.body .profile_box {
  z-index: 999;
  position: absolute;
  right: 0.9rem;
  top: 0.9rem;
  display: flex;
  flex-direction: column;
  background: white;
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.2rem;
}
.body .profile_box .profile_box_header {
  background: green;
  color: white;
  padding: 1rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
.body .profile_box .profile_box_header .profile_name {
  font-weight: 500;
}
.body .profile_box .profile_box_header .profile_email {
  font-size: 0.8rem;
}
.body .profile_box .profile_box_body {
  padding: 0.5rem;
}
.body .profile_box .profile_box_footer {
  border-radius: 0 0 0.2rem 0.2rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .profile_box .profile_box_footer button {
  background: white;
  color: green;
  text-align: center;
  width: 100%;
  padding: 0.3rem 0.3rem;
  border: 1px rgb(204, 204, 204) solid;
}
.body .profile_box .profile_box_footer button:hover {
  background: #dfd8f2;
}
.body .profile_box .profile_box_footer a {
  background: white;
  color: green;
  text-align: center;
  width: 100%;
  padding: 0.3rem 0.3rem;
  border: 1px rgb(204, 204, 204) solid;
}
.body .profile_box .profile_box_footer a:hover {
  background: #dfd8f2;
}
/* body page dashboard */
#body_page_dashboard {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#body_page_dashboard .dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#body_page_dashboard .dashboard .box {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: white;
  padding: 1rem;
  gap: 1rem;
  border: 1px rgb(204, 204, 204) solid;
}
#body_page_dashboard .dashboard .box .box_name {
  flex: 1;
}
#body_page_dashboard .dashboard .box a {
  border-radius: 0.3rem;
  background: #0c73b9;
  color: white;
  padding: 0.5rem 0;
  width: 100px;
  text-align: center;
}
#body_page_dashboard .dashboard .box a:hover {
  background: rgb(51, 129, 51);
}
#body_page_hire {
  display: flex;
}
#body_page_hire .sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
  background: white;
  width: 300px;
  border-right: 1px rgb(204, 204, 204) solid;
}
#body_page_hire .sidebar a {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(160, 160, 160);
  border-radius: 0 1rem 1rem 0;
}
#body_page_hire .sidebar a:hover {
  color: rgb(45, 174, 110);
  background: #f2f3f6;
}
#body_page_hire .sidebar a.active {
  color: gb(45, 174, 110);
  background: #ebe4ff;
}
#body_page_hire .showcase {
  flex: 1;
  padding: 1rem;
}

#showcase_sub_postajob {
  display: flex;
  flex-direction: column;
}
#showcase_sub_postajob .t1 {
  margin-bottom: 2rem;
}
#showcase_sub_postajob .container {
  background: white;
  border-radius: 0.5rem;
  border: 1px rgb(204, 204, 204) solid;
}
#showcase_sub_postajob .container .container_title {
  color: green;
  padding: 1rem;
  border-bottom: 1px rgb(204, 204, 204) solid;
}
#showcase_sub_postajob .container .container_body {
  padding: 1rem;
}
#showcase_sub_postajob form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#showcase_sub_postajob form .field {
  display: flex;
  flex-direction: column;
}
#showcase_sub_postajob form .field input,
textarea,
select {
  outline: none;
  padding: 0.5rem;
  border: 1px rgb(204, 204, 204) solid;
}
#showcase_sub_postajob form .field input:focus,
textarea:focus,
select:focus {
  border-color: rgb(45, 174, 110);
}
#showcase_sub_postajob form .field textarea {
  resize: none;
  height: 200px;
}
#showcase_sub_postajob form .btn_submit {
  margin-top: 1rem;
  height: 50px;
  color: white;
  background: rgb(20, 140, 34);
  border-radius: 0.5rem;
}
#showcase_sub_postajob form .btn_submit:hover {
  background: rgb(25, 176, 25);
}
#showcase_sub_postajob .btn_delete_job {
  width: 100%;
  margin-top: 0.5rem;
  height: 50px;
  color: white;
  background: #ff5876;
  border-radius: 0.5rem;
}
#showcase_sub_postajob .btn_delete_job:hover {
  background: #e26178;
}
#showcase_sub_list {
  display: flex;
  flex-direction: column;
}
#showcase_sub_list .t1 {
  margin-bottom: 2rem;
}
#showcase_sub_list .container {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px rgb(204, 204, 204) solid;
}
#showcase_sub_list .container .container_title {
  color: green;
  padding: 1rem;
  border-bottom: 1px rgb(204, 204, 204) solid;
}
#showcase_sub_list .container .container_body {
  background: white;
}
#showcase_sub_list .container .container_body .showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#showcase_sub_list .container .container_body .box {
  display: flex;
  align-items: center;
  color: black;
  padding: 1rem;
  border-bottom: 1px rgb(204, 204, 204) dashed;
}
#showcase_sub_list .container .container_body .box:hover {
  color: teal;
  background: #f3f3f3;
}
#showcase_sub_list .container .container_body .box:last-child {
  border-bottom: none;
}
#showcase_sub_list .container .container_body .box .text {
  flex: 1;
}
#showcase_sub_list .container .container_body .box .text .name {
  font-size: 1.5rem;
}
#showcase_sub_list .container .container_body .box .text .salary_range {
  font-size: 1.2rem;
}
#showcase_sub_list .container .container_body .box .text .posted_at {
  font-size: 1rem;
}
#showcase_sub_list .container .container_body .box i {
  font-size: 2rem;
  margin-right: 1rem;
}
/* showcase_sub_applicants */
#showcase_sub_applicants {
  display: flex;
  flex-direction: column;
}
#showcase_sub_applicants .t1 {
  margin-bottom: 2rem;
}
#showcase_sub_applicants .container {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px rgb(204, 204, 204) solid;
}
#showcase_sub_applicants .container .container_title {
  color: green;
  padding: 1rem;
  border-bottom: 1px rgb(204, 204, 204) solid;
  display: flex;
  justify-content: space-between;
}
#showcase_sub_applicants .container .container_title .filter {
  display: flex;
  gap: 0.5rem;
}
#showcase_sub_applicants .container .container_title .filter a {
  text-decoration: none;
  color: black;
}
#showcase_sub_applicants .container .container_title .filter a:hover {
  color: rgb(45, 174, 110);
}
#showcase_sub_applicants .container .container_title .filter a.active {
  color: rgb(45, 174, 110);
}
#showcase_sub_applicants .container .container_body {
  background: white;
}
#showcase_sub_applicants .container .container_body .showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#showcase_sub_applicants .container .container_body .box {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px rgb(204, 204, 204) dashed;
}
#showcase_sub_applicants .container .container_body .box:last-child {
  border-bottom: none;
}
#showcase_sub_applicants .container .container_body .box .box_buttons {
  display: flex;
  gap: 0.5rem;
}
#showcase_sub_applicants .container .container_body .box .box_buttons .button {
  background: rgb(20, 140, 34);
  color: white;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
}
#showcase_sub_applicants
  .container
  .container_body
  .box
  .box_buttons
  .button:hover {
  background: rgb(25, 176, 25);
}
#showcase_sub_applicants
  .container
  .container_body
  .box
  .box_buttons
  .button:disabled {
  cursor: no-drop;
  background: grey;
}
#showcase_sub_applicants
  .container
  .container_body
  .box
  .box_buttons
  .button
  i {
  margin-right: 1rem;
}

#body_page_profile {
  display: flex;
}
#body_page_profile .sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
  background: white;
  width: 300px;
  border-right: 1px rgb(204, 204, 204) solid;
}
#body_page_profile .sidebar a {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(160, 160, 160);
  border-radius: 0 1rem 1rem 0;
}
#body_page_profile .sidebar a:hover {
  color: rgb(45, 174, 110);
  background: #f2f3f6;
}
#body_page_profile .sidebar a.active {
  color: rgb(45, 174, 110);
  background: #ebe4ff;
}
#body_page_profile .content {
  flex: 1;
  position: relative;
}
#body_page_profile .content .showcase {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}
#body_page_profile .content .showcase .container {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px rgb(204, 204, 204) solid;
}
#body_page_profile .content .showcase .container .container_title {
  color: rgb(45, 174, 110);
  padding: 1rem;
  border-bottom: 1px rgb(204, 204, 204) solid;
}
#body_page_profile .content .showcase .container .container_body {
  background: white;
  padding: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form .field {
  display: flex;
}
form .field label {
  min-width: 130px;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #8d889c;
}
form .field input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border: 1px rgb(204, 204, 204) solid;
}
form .field input:focus,
textarea:focus,
select:focus {
  border-color: rgb(45, 174, 110);
}
form .field textarea {
  resize: none;
  height: 100px;
}




.filter {
  display: flex;
  align-items: center;
}

.filter a {
  padding: 8px;
  margin: 5px;
  border-radius: 2px;

  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.filter a.active {
  background-color: #008000;
  color: #fff;
}

.filter a:hover {
  background-color: #dfdbdbcb;
}

.filter a:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.filter a:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filter a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  height: 30px;
  width: 1px;
  background-color: #ccc;
}

  .field_radio input[type="radio"]:hover + label {
    color: #007bff;
  }

  .field_radio input[type="radio"]:checked + label {
    color: #007bff;
    font-weight: bold;
  }
  
  .field_radio_group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .field_radio {
    margin-right: 1rem;
  }
  
  
form .btn_submit {
  margin-top: 1rem;
}
form .button {
  cursor: pointer;
  height: 50px;
  color: white;
  background: rgb(20, 140, 34);
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .button_container .button {
  flex: 1;
}
form .button:hover {
  background: rgb(25, 176, 25);
}
.company_logo_preview {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 100%;
}
input[type="file"] {
  display: none;
}
.btn_upload_picture {
  cursor: pointer;
  height: 50px;
  color: white;
  background: #0c73b9;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_upload_picture:hover {
  background: #1f3761;
}
.body_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company_banner_preview {
  width: 100%;
  height: 210px;
}
.body_image .round-image {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 100%;
}
.body_image .btn_upload_picture {
  width: 100%;
}
