@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@200;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background: rgb(253, 255, 254);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.2rem;
  z-index: 100;
}
.header_logo {
  display: flex;
  align-items: center;
  color: teal;
  gap: 0.5rem;
}
.header_logo img {
  width: 50px;
  height: 50px;
}
.header_logo p {
  font-size: 1.2rem;
  font-weight: 500;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation > a {
  color: #0e8136;
  font-size: 1.1rem;
}
.navigation > a:hover {
  color: #0e8136;
}
.navigation > a.nav_a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: #0e8136;
  color: white;
}
.navigation > a.nav_a:hover {
  background: #0e8136d5;
}
.body {
  flex: 1;
  background: #eeeeee39;
  display: flex;
}
.box {
  padding: 1rem;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.sidebar {
  padding: 1rem 0.4rem 1rem 0;
  background: white;
  border-right: 1px rgb(204, 204, 204) solid;
}

.sidebar-header {
  display: none;
}
.sidebar-container{
    position: relative;
}

@media (max-width: 767px) {


  .sidebar {
    position: block;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    transition: all 0.3s ease;
  }

  .sidebar-container.expanded {
    position: fixed;
    height: 100%;
    z-index: 100;
    width: 100%;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .sidebar-container.expanded .overlay {
    display: block !important;
  }
  .sidebar-container {
    transition: width 0.3s ease-in-out, display 0.5s ease-in-out;
  }

  .sidebar-container.expanded {
    width: 65% !important;
  }
  .sidebar-container.expanded p.name {
    display: block !important;
    transition: display 0.5s ease-in-out;
  }
  .sidebar-header {
    display: block;
    cursor: pointer;
    padding: 0 0.9rem;
    align-self: flex-end;
    color: #0e8136;
  }

  #sidebar-arrow {
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-container.expanded #sidebar-arrow {
    transform: rotate(180deg);
  }
}
.sidebar a {
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #0e8136;
  border-radius: 0 1rem 1rem 0;
}
.sidebar a:hover {
  color: #ffffff;
  background: #0e8136;
}
.sidebar a.active {
  color: #ffffff;
  background: #0e8136;
}
.showcase {
  flex: 1;
  position: relative;
}
.showcase .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  background: #eeeeee39;

}
.t1 {
  margin-bottom: 2rem;
}
.container {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px rgb(204, 204, 204) solid;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

}
.container .container_title {
  color: #0e8136;
  padding: 1rem;
  border-bottom: 1px rgb(204, 204, 204) solid;
}
.container .container_body {
  background: white;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out;

}
.container .container_body .msg {
  color: white;
  background: #eb4747;
  border: #ca5f5f 1px solid;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

}
.container .container_body .msg a {
  color: white;
  text-decoration: underline;
}
.button_container {
  display: flex;
  gap: 1rem;
}
.button_container button {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form .field {
  display: flex;
}
form .field label {
  min-width: 130px;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #8d889c;
}
form .field input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border: 1px rgb(204, 204, 204) solid;
}
form .field input:focus,
textarea:focus,
select:focus {
  border-color: #0e8136;
}
form .field textarea {
  resize: none;
  height: 100px;
}
form .btn_submit {
  margin-top: 1rem;
}
form .button {
  cursor: pointer;
  height: 50px;
  color: white;

  border-radius: 0.5rem;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .button_container .button {
  flex: 1;
}
form .button:hover {
  border-color: #0ea141;
  
}
.company_logo_preview {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 100%;
  align-items: center;
}
input[type="file"] {
  display: none;
}
.btn_upload_picture {
  color: white !important;
  cursor: pointer;
  height: 50px;
  background: #0c73b9;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 200px;
}
.btn_upload_picture:hover {
  background: #1f3761;
  
}

/* Default styles */
.form .password label {
  min-width: 150px;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #000000;
}
.form .password input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border: 1px rgb(204, 204, 204) solid;
}
.form .password input:focus,
textarea:focus,
select:focus {
  border-color: #0e8136;
}
.form .password textarea {
  resize: none;
  height: 100px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  .form .password label {
    min-width: auto;
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }
  .form .password input,
  textarea,
  select {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .form .password textarea {
    height: 80px;
  }
}

@media only screen and (max-width: 480px) {
  /* Adjust styles for screens smaller than 480px */
  .form .password label {
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }
  .form .password input,
  textarea,
  select {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
  .form .password textarea {
    height: 60px;
  }
}

.avatar_container {
  display: flex;
  align-items: center;
}

.name_container {
  margin-left: 1rem;
}

.name_container h3 {
  margin: 0;
}


