@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.bg-illustration {
  position: relative;
  height: 100vh;
  width: 1194px;
  background: url(https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/337000746_1294995951361093_1319701058365647471_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFP3KJaT5cgr52ZLL4-PxQM7Oo9wmYX0VDs6j3CZhfRUBNiqDHML3gPvJaFwFiTdOCh3P__umNXLaQWKqhqlsPm&_nc_ohc=72bw7xIiKNQAX_jam85&_nc_ht=scontent.fmnl4-5.fna&oh=03_AdSN2rxOMymsn_pSJ24Ffd3r1bsRWa1Yl06f7ERuAnP7fA&oe=64477A5D);
  background-size: cover;
  float: left;
  -webkit-animation: bgslide 2.3s forwards;
  animation: bgslide 2.3s forwards;
}
.bg-illustration img {
  width: 90px;
  height: auto;
  margin: 19px 0 0 25px;
}
.bg-illustration p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
}
.login {
  max-height: 100vh;
  float: left;
  margin: 10px auto;
  width: calc(50% - 1094px);
}
.login .container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.login .container h1 {
  margin-top: 200px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.login .container h1 span {
  font-weight: bold;
  color: green;
}

.login .container .login-form {
  margin-top: 20px;
}
.login .container .login-form form {
  display: -ms-grid;
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.login
  .container
  .login-form
  form
  :is(input[type="email"], input[type="password"], input[type="text"]) {
  font-size: 15px;
  font-weight: normal;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.326);
  margin: 10px 1px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .login
    .container
    .login-form
    form
    :is(input[type="email"], input[type="password"], input[type="text"]) {
    width: 100%;
  }
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    margin-top: 60px;
    min-width: 50px;
  }
}

.login .container .login-form form button[type="submit"] {
  background-color: #0a6bff;
  border-radius: 4px;
  margin-top: 20px;
  border: 0;
  width: 100%;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  min-height: 56px;
  min-width: 250px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.login .container .forget-pass a:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 1024px) and (max-width: 1680px) {
  .bg-illustration {
    width: 65%;
    -webkit-animation: none;
    animation: none;
  }

  .login {
    margin: 0 2rem;
    width: 30%;
  }
}
/* Display 12", iPad PRO Portrait, iPad landscape */
@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  @-webkit-keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  .bg-illustration {
    float: none;
    background: url(https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/337000746_1294995951361093_1319701058365647471_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFP3KJaT5cgr52ZLL4-PxQM7Oo9wmYX0VDs6j3CZhfRUBNiqDHML3gPvJaFwFiTdOCh3P__umNXLaQWKqhqlsPm&_nc_ohc=72bw7xIiKNQAX_jam85&_nc_ht=scontent.fmnl4-5.fna&oh=03_AdSN2rxOMymsn_pSJ24Ffd3r1bsRWa1Yl06f7ERuAnP7fA&oe=64477A5D);
    animation: slideIn 0.8s ease-in-out forwards;
    width: 100%;
    height: 200px;
    text-align: center;
  }
  .bg-illustration img {
    width: 100px;
    height: auto;
    margin: 0 auto !important;
  }

  .login {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .login .container {
    -webkit-animation: slideIn 0.8s ease-in-out forwards;
    animation: slideIn 0.8s ease-in-out forwards;
    width: 85%;
    float: none;
  }
  .login .container h1 {
    font-size: 25px;
    margin-top: 60px;
  }
  .g-recaptcha .login {
    margin: 0px 40px !important;
  }
}
