@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@200;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
@media (min-width: 640px) {
  .text-center {
    text-align: center;
  }
  .my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text-xl {
    font-size: 24px;
  }
  .font-bold {
    font-weight: bold;
  }
  .text-gray-800 {
    color: #2d3748;
  }
}
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1px 1rem;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  color: rgb(91, 249, 0);
  gap: 0.5rem;
}
.header_logo img {
  width: 80px;
  height: 80px;
}
.header_logo p {
  font-size: 1.2rem;
  font-weight: 500;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation > a {
  color: teal;
  font-size: 1.1rem;
}
.navigation > a:hover {
  color: #1eff09;
}
.navigation > a.nav_a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: #008000;
  color: white;
}
.navigation > a.nav_a:hover {
  background: #77be77;
}
.body_search {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.body_search .container_search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  gap: 3rem;
  background: #1e5459;
  color: white;
  position: relative;
}

.body_search .container_search form {
  position: absolute;
  bottom: -30px;
  background: white;
  color: black;
  width: max(30vw, 70%);
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.body_search .container_search form .field {
  border: 1px solid rgb(163, 163, 163);
  padding: 0.5rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  flex: 1;
  border-radius: 0.5rem;
}
.body_search .container_search form .field i {
  color: rgb(163, 163, 163);
}
.body_search .container_search form .field input {
  border: 0;
  width: 100%;
}
.body_search .container_search form button {
  font-size: 1rem;
  padding: 0.5rem;
  width: 150px;
  background: #0c73b9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.body_search .container_search form button:hover {
  background: rgb(57, 158, 158);
}
.body_search .content {
  flex: 1;
  /* background: #f4f5ff; */
  display: flex;
  flex-direction: column;
}
.body_search .content .recommended {
  display: flex;
  flex-direction: column;
}
.body_search .content .recommended .container_title {
  padding: 1rem;
}
.body_search .content .recommended .container_body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.body_search .content .recommended .container_body .box {
  text-decoration: none;
  color: black;
  border-radius: 0.5rem;
  background: white;
  width: 85%;
  max-width: 90vw; /* Set maximum width to 30vw for larger screens */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 0 auto; /* Center the box horizontally */
}

@media only screen and (max-width: 768px) {
  /* Apply the following styles for screens smaller than 768px */
  .body_search .content .recommended .container_body .box {
    width: 100%; /* Set the width to 100% */
    max-width: none; /* Remove the maximum width */
  }
}

.body_search
  .content
  .recommended
  .container_body
  .box
  .box_header
  .box_header_title {
  font-size: 2rem;
}
.body_search
  .content
  .recommended
  .container_body
  .box
  .box_header
  .box_header_sub {
  color: rgb(163, 163, 163);
  gap: 1rem;
}
.body_search .content .recommended .container_body .box:hover {
  color: rgb(95, 103, 216);
}
.body_search .content .recommended .container_body .not_found {
  text-decoration: none;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body_search .content .recommended .container_body .not_found img {
  max-width: 300px;
}
.body_search .content .recommended .container_body .not_found p {
  font-size: 2rem;
  color: rgb(95, 103, 216);
}
