@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background: rgb(253, 255, 254);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.2rem;
  z-index: 100;
}
.header_logo {
  display: flex;
  align-items: center;
  color: teal;
  gap: 0.5rem;
}
.header_logo img {
  width: 50px;
  height: 50px;
}
.header_logo p {
  font-size: 1.2rem;
  font-weight: 500;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation > a {
  color: #0e8136;
  font-size: 1.1rem;
}
.navigation > a:hover {
  color: #0e8136;
}
.navigation > a.nav_a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: #0e8136;
  color: white;
}
.navigation > a.nav_a:hover {
  background: #0e8136d5;
}
.body {
  background-image: url(https://scontent-hkt1-2.xx.fbcdn.net/v/t1.15752-9/329094802_574451561243399_1309329960790280527_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGIkzsj3MmP-dVA3e5xVJ40yqrWo4ywDJPKqtajjLAMkzJEk3zfh1unbtTXgtXsPvE50QVAlAd_qXvr19O3chi8&_nc_ohc=Bx6rKn5VauwAX_WtRQK&_nc_ht=scontent-hkt1-2.xx&oh=03_AdQ4dJUp3TJ2ERQeavD3ktk79aLxzaUTWxnk0hbPG7NIIw&oe=6407178C);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body .container_showcase {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.body .container_showcase .title {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #000000;
}
.body .container_showcase .title span {
  color: #195d20;
}
.body .container_showcase .slogan {
  color: rgb(65, 182, 108);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.body .container_showcase .paragraph {
  font-weight: 400;
  color: #f7f7f7;
}
.body .container_logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.body .container_logo img {
  width: 350px;
  height: 350px;
}
.body > a {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background: teal;
  color: white;
}
.body > a:hover {
  background: rgb(57, 158, 158);
}

.section-title {
  position: relative;
  height: 5px;
  width: 20%;
  background-color: #008000;
  bottom: 70px;

text-align: center;
  margin: 0 auto;

}


.section-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 10%;
  height: 100%;
  background-color: #f3f7f3;
  animation: loading 4s linear infinite;
}

@keyframes loading {
  0% {
    right: -0%;
  }
  50% {
    right: 100%;
  }
}
  


.section-title {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
}

.line {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  animation: line 2s ease-in-out infinite;
}
@keyframes line {
  0% {
      left: -50%;
      width: 50%;
  }
  100% {
      left: 100%;
      width: 50%;
  }
}

